<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html class="js wf-chaparralpro-i4-active wf-chaparralpro-n3-active wf-chaparralpro-n4-active wf-chaparralpro-n6-active wf-myriadpro-i4-active wf-myriadpro-n3-active wf-myriadpro-n4-active wf-myriadpro-n6-active wf-callunasans-n3-active wf-callunasans-n6-active wf-chaparralpro-i3-active wf-active" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" dir="ltr" lang="en"><head>
  <title>ThreeA's Bookstore</title>
<script src="../../static/js/ga.js" async="" type="text/javascript"></script><script type="text/javascript" src="../../static/js/jel.js"></script>
<link type="text/css" rel="stylesheet" href="../../static/home.css">
  <link type="text/css" rel="stylesheet" media="all" href="../../static/css/c1.css">
<link type="text/css" rel="stylesheet" media="all" href="../../static/css/c2.css">
<link type="text/css" rel="stylesheet" media="all" href="../../static/css/c3.css">
<link type="text/css" rel="stylesheet" media="all" href="../../static/css/c4.css">
<link type="text/css" rel="stylesheet" media="print" href="../../static/c5.css">
<style>
  html,body{
    background-color: DarkOliveGreen;
  }
</style>
<script type="text/javascript" src="../../static/js/js1.js"></script>
<script type="text/javascript" src="../../static/js/js2.js"></script>
<script type="text/javascript" src="../../static/js/js3.js"></script>
<script type="text/javascript" src="../../static/js/blockUI.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="../../static/js/cycle.js"></script>
<style type="text/css">.tk-calluna-sans{font-family:"calluna-sans",sans-serif;}.tk-chaparral-pro{font-family:"chaparral-pro",sans-serif;}.tk-myriad-pro{font-family:"myriad-pro",sans-serif;}</style><link href="../../static/css/d.css" rel="stylesheet">
</head>
<body class="page front not-logged-in node-type-panel one-sidebar sidebar-first cron-check-processed">
{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}

      <div id="skip-link"><a href="#main-menu">Jump to Navigation</a></div>
  
  <div id="page-wrapper"><div id="page">

    <div id="header"><div class="section clearfix">
      
              <div id="name-and-slogan">
                                    <div id="site-name"><strong>
                <p><span>ThreeA's Bookstore</span></p>
              </strong></div>
                      
                      <div id="site-slogan">Enhance your life</div>
                  </div><!-- /#name-and-slogan -->
     
      <div class = "order-order">
            <a href="/order/{{message}}" id = "click-orders" title="My Orders"><strong>My Orders</strong></a> 
        </div>
      <div class = "log-out">
            <a href="/login/0" id = "log-out" title="Log Out"><strong>Log Out</strong></a>
      </div>
    </div></div>
  
    <div id="main-wrapper"><div id="main" class="clearfix with-navigation">
              
                    <div id="welcome-message"><p>Welcome, 
                      <strong>{{message}}</strong> </p>
                    </div>
     
        <div id="navigation"><div class="section clearfix">


          <h2 class="element-invisible">Main menu</h2><ul id="main-menu" class="links clearfix"><li class="menu-648 active-trail first active"><a href="http://#.in/node/73746" title="#" class="active">Home</a></li>
<li class="menu-458"><a href="http://#.in/node/1" title="About Us">About Us</a></li>
<li class="menu-886"><a href="http://#.in/content/our-books" title="Our Publications">Our Publications</a></li>
<li class="menu-463"><a href="http://#.in/node/2" title="Newsletter">Newsletter</a></li>
<li class="menu-1490"><a href="http://cafeturtle.com/" title="Café Turtle">Café Turtle</a></li>
<li class="menu-464 last"><a href="http://#.in/node/3" title="Contact Us">Contact Us</a></li>
</ul>
     



      </div>
     </div>
<div class="slideshow">
		<img src="../../static/css/images/fcbanner2.jpg" width="940" height="230"/>
		<img src="../../static/css/images/fcbanner3.jpg" width="940" height="230" />
	</div>
	<script type="text/javascript">
	$(document).ready(function() {
	$('.slideshow').cycle({
		timeout:1200,
		speed:1200,
    delay:400,
		fx:'fade'
		});
	});
</script>
   

  
      <div id="content" class="column"><div class="section">

        



        
                          <h1 class="title">#</h1>
                                

        
        <div id="content-area">
          <div id="node-73746" class="node node-type-panel build-mode-full clearfix">
  
  
  
  
  <div class="content">
    <div class="panel-flexible panels-flexible-1 clear-block" id="homepage-panel">
<div class="panel-flexible-inside panels-flexible-1-inside">
<div class="panels-flexible-region panels-flexible-region-1-center panels-flexible-region-first panels-flexible-region-last">
  <div class="inside panels-flexible-region-inside panels-flexible-region-1-center-inside panels-flexible-region-inside-first panels-flexible-region-inside-last">
  </div>
</div>
</div>
</div>
  </div>

  </div><!-- /.node -->
        </div>

        <div class="region region-content-bottom">
  <div id="block-views-new_products-block_1" class="block block-views first region-odd odd region-count-1 count-3">
      <h2 class="title">New arrivals</h2>
  
  <div class="content">
    <div class="views_view view view-new-products view-id-new_products view-display-id-block_1 view-four-books view-dom-id-554ae531fd13211f674737a8fcae0467">
  
  
  
  
      <div class="view-content">
      <table class="views-view-grid col-4">
  <tbody>
          <tr class="row-1 row-first row-last">
                  <td class="col-1 col-first">
              
  <div class="views-field views-field-field-image-cache-fid">        <div class="field-content"><a href="/{{message}}/1/1/0" class="imagecache imagecache-product-medium imagecache-linked imagecache-product-medium_linked"><img src="../../static/css/images/1.jpg" alt="" title="" class="imagecache imagecache-product-medium" height="200" width="140"></a></div>  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><a href="/{{message}}/1/1/0">The Leadership Sutra: An India...</a></span>  </div>  
  <div class="views-field views-field-field-author-value">        <span class="field-content">Devdutt Pattanaik</span>  </div>  
  <div class="views-field views-field-sell-price">        <span class="field-content"><span class="uc-price-product uc-price-sell_price uc-price">Rs 399.00</span></span>  </div>          </td>
                  <td class="col-2">
              
  <div class="views-field views-field-field-image-cache-fid">        <div class="field-content"><a href="/{{message}}/2/2/0" class="imagecache imagecache-product-medium imagecache-linked imagecache-product-medium_linked"><img src="../../static/css/images/2.jpg" alt="" title="" class="imagecache imagecache-product-medium" height="200" width="140"></a></div>  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><a href="/{{message}}/2/2/0">On Love </a></span>  </div>  
  <div class="views-field views-field-field-author-value">        <span class="field-content">Charles Bukowski </span>  </div>  
  <div class="views-field views-field-sell-price">        <span class="field-content"><span class="uc-price-product uc-price-sell_price uc-price">Rs 599.00</span></span>  </div>          </td>
                  <td class="col-3">
              
  <div class="views-field views-field-field-image-cache-fid">        <div class="field-content"><a href="/{{message}}/3/3/0" class="imagecache imagecache-product-medium imagecache-linked imagecache-product-medium_linked"><img src="../../static/css/images/3.jpg" alt="" title="" class="imagecache imagecache-product-medium" height="200" width="140"></a></div>  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><a href="/{{message}}/3/3/0">The Great Mughals and Their In...</a></span>  </div>  
  <div class="views-field views-field-field-author-value">        <span class="field-content">Dirk Collier</span>  </div>  
  <div class="views-field views-field-sell-price">        <span class="field-content"><span class="uc-price-product uc-price-sell_price uc-price">Rs 699.00</span></span>  </div>          </td>
                  <td class="col-4 col-last">
              
  <div class="views-field views-field-field-image-cache-fid">        <div class="field-content"><a href="/{{message}}/4/4/0" class="imagecache imagecache-product-medium imagecache-linked imagecache-product-medium_linked"><img src="../../static/css/images/4.jpg" alt="" title="" class="imagecache imagecache-product-medium" height="200" width="140"></a></div>  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><a href="/{{message}}/4/4/0">Lawfare: Law As a Weapon of Wa...</a></span>  </div>  
  <div class="views-field views-field-field-author-value">        <span class="field-content">Orde F. Kittrie</span>  </div>  
  <div class="views-field views-field-sell-price">        <span class="field-content"><span class="uc-price-product uc-price-sell_price uc-price">Rs 750.00</span></span>  </div>          </td>
              </tr>
      </tbody>
</table>
    </div>
  
  
  
      

  
  
  
</div><!-- /.view -->
  </div>

  </div><!-- /.block -->
<div id="block-views-bestsellers_homepage-block_1" class="block block-views region-even even region-count-2 count-4">
      <h2 class="title">Latest bestsellers</h2>
  
  <div class="content">
    <div class="views_view view view-bestsellers-homepage view-id-bestsellers_homepage view-display-id-block_1 view-four-books view-dom-id-dd220260e32182c6a4f90d17bfc91977">
  
  
  
  
      <div class="view-content">
      <table class="views-view-grid col-4">
  <tbody>
          <tr class="row-1 row-first row-last">
                  <td class="col-1 col-first">
              
  <div class="views-field views-field-field-image-cache-fid">        <span class="field-content"><a href="/{{message}}/5/5/0" class="imagecache imagecache-product-medium imagecache-linked imagecache-product-medium_linked"><img src="../../static/css/images/5.jpg" alt="" title="" class="imagecache imagecache-product-medium" height="200" width="140"></a></span>  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><a href="/{{message}}/5/5/0">Making Sense of Modi's In...</a></span>  </div>  
  <div class="views-field views-field-field-author-value">        <span class="field-content">Meghnad Desai </span>  </div>  
  <div class="views-field views-field-sell-price">        <span class="field-content"><span class="uc-price-product uc-price-sell_price uc-price">Rs 499.00</span></span>  </div>          </td>
                  <td class="col-2">
              
  <div class="views-field views-field-field-image-cache-fid">        <span class="field-content"><a href="/{{message}}/6/5/0" class="imagecache imagecache-product-medium imagecache-linked imagecache-product-medium_linked"><img src="../../static/css/images/6.jpg" alt="" title="" class="imagecache imagecache-product-medium" height="200" width="140"></a></span>  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><a href="/{{message}}/6/5/0">Safeguarding India: Essays On...</a></span>  </div>  
  <div class="views-field views-field-field-author-value">        <span class="field-content">N.N. Vohra </span>  </div>  
  <div class="views-field views-field-sell-price">        <span class="field-content"><span class="uc-price-product uc-price-sell_price uc-price">Rs 499.00</span></span>  </div>          </td>
                  <td class="col-3">
              
  <div class="views-field views-field-field-image-cache-fid">        <span class="field-content"><a href="/{{message}}/7/6/0" class="imagecache imagecache-product-medium imagecache-linked imagecache-product-medium_linked"><img src="../../static/css/images/7.jpg" alt="" title="" class="imagecache imagecache-product-medium" height="200" width="140"></a></span>  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><a href="/{{message}}/7/6/0">Dream With Your Eyes Open </a></span>  </div>  
  <div class="views-field views-field-field-author-value">        <span class="field-content">Ronnie Screwvala</span>  </div>  
  <div class="views-field views-field-sell-price">        <span class="field-content"><span class="uc-price-product uc-price-sell_price uc-price">Rs 195.00</span></span>  </div>          </td>
                  <td class="col-4 col-last">
              
  <div class="views-field views-field-field-image-cache-fid">        <span class="field-content"><a href="/{{message}}/8/7/0" class="imagecache imagecache-product-medium imagecache-linked imagecache-product-medium_linked"><img src="../../static/css/images/8.jpg" alt="" title="" class="imagecache imagecache-product-medium" height="200" width="140"></a></span>  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><a href="/{{message}}/8/7/0">Trigger Warning</a></span>  </div>  
  <div class="views-field views-field-field-author-value">        <span class="field-content">Neil Gaiman </span>  </div>  
  <div class="views-field views-field-sell-price">        <span class="field-content"><span class="uc-price-product uc-price-sell_price uc-price">Rs 399.00</span></span>  </div>          </td>
              </tr>
      </tbody>
</table>
    </div>
  
  
  
      

  
  
  
</div><!-- /.view -->
  </div>

  </div><!-- /.block -->
<div id="block-views-we_recommend-block_1" class="block block-views region-odd odd region-count-3 count-5">
      <h2 class="title">We recommend</h2>
  
  <div class="content">
    <div class="views_view view view-we-recommend view-id-we_recommend view-display-id-block_1 view-four-books view-dom-id-ace498539dba809d77d03e60c15094d5">
  
  
  
  
      <div class="view-content">
      <table class="views-view-grid col-4">
  <tbody>
          <tr class="row-1 row-first row-last">
                  <td class="col-1 col-first">
              
  <div class="views-field views-field-field-image-cache-fid">        <span class="field-content"><a href="/{{message}}/9/5/0" class="imagecache imagecache-product-medium imagecache-linked imagecache-product-medium_linked"><img src="../../static/css/images/9.jpg" alt="" title="Isha Yoga Centre " class="imagecache imagecache-product-medium" height="200" width="140"></a></span>  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><a href="/{{message}}/9/5/0">A Taste of Wellbeing: Sadhguru's Insights For Your Gastronomics</a></span>  </div>  
  <div class="views-field views-field-field-author-value">        <span class="field-content"></span>  </div>  
  <div class="views-field views-field-sell-price">        <span class="field-content"><span class="uc-price-product uc-price-sell_price uc-price">Rs 299.00</span></span>  </div>          </td>
                  <td class="col-2">
              
  <div class="views-field views-field-field-image-cache-fid">        <span class="field-content"><a href="/{{message}}/10/8/0" class="imagecache imagecache-product-medium imagecache-linked imagecache-product-medium_linked"><img src="../../static/css/images/10.jpg" alt="" title="" class="imagecache imagecache-product-medium" height="200" width="140"></a></span>  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><a href="/{{message}}/10/8/0">Julie &amp; Julia </a></span>  </div>  
  <div class="views-field views-field-field-author-value">        <span class="field-content">Julie Powell</span>  </div>  
  <div class="views-field views-field-sell-price">        <span class="field-content"><span class="uc-price-product uc-price-sell_price uc-price">Rs 399.00</span></span>  </div>          </td>
                  <td class="col-3">
              
  <div class="views-field views-field-field-image-cache-fid">        <span class="field-content"><a href="/{{message}}/11/9/0" class="imagecache imagecache-product-medium imagecache-linked imagecache-product-medium_linked"><img src="../../static/css/images/11.jpg" alt="" title="" class="imagecache imagecache-product-medium" height="200" width="140"></a></span>  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><a href="/{{message}}/11/9/0">Eastern Body, Western Mind </a></span>  </div>  
  <div class="views-field views-field-field-author-value">        <span class="field-content">Anodea Judith</span>  </div>  
  <div class="views-field views-field-sell-price">        <span class="field-content"><span class="uc-price-product uc-price-sell_price uc-price">Rs 699.00</span></span>  </div>          </td>
                  <td class="col-4 col-last">
              
  <div class="views-field views-field-field-image-cache-fid">        <span class="field-content"><a href="/{{message}}/12/10/0" class="imagecache imagecache-product-medium imagecache-linked imagecache-product-medium_linked"><img src="../../static/css/images/12.png" alt="" title="" class="imagecache imagecache-product-medium" height="200" width="140"></a></span>  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><a href="/{{message}}/12/10/0">Multipliers</a></span>  </div>  
  <div class="views-field views-field-field-author-value">        <span class="field-content">Liz Wiseman </span>  </div>  
  <div class="views-field views-field-sell-price">        <span class="field-content"><span class="uc-price-product uc-price-sell_price uc-price">Rs 399.00</span></span>  </div>          </td>
              </tr>
      </tbody>
</table>
    </div>
      
</div><!-- /.view -->
  </div>

  </div><!-- /.block -->
<div id="block-views-youngadults_homepage-block_1" class="block block-views region-even even region-count-4 count-6">
      <h2 class="title">Young adults</h2>
  
  <div class="content">
    <div class="views_view view view-youngadults-homepage view-id-youngadults_homepage view-display-id-block_1 view-four-books view-dom-id-6957c8c56ad5c39122731f3ee7e52c84">
  
    
      <div class="view-content">
      <table class="views-view-grid col-4">
  <tbody>
          <tr class="row-1 row-first">
                  <td class="col-1 col-first">
              
  <div class="views-field views-field-field-image-cache-fid">        <span class="field-content"><a href="/{{message}}/13/11/0" class="imagecache imagecache-product-medium imagecache-linked imagecache-product-medium_linked"><img src="../../static/css/images/13.jpg" alt="" title="" class="imagecache imagecache-product-medium" height="200" width="140"></a></span>  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><a href="/{{message}}/13/11/0">Gay-Neck: The Story of A Pigeo...</a></span>  </div>  
  <div class="views-field views-field-field-author-value">        <span class="field-content">Dhan Gopal Mukerji</span>  </div>  
  <div class="views-field views-field-sell-price">        <span class="field-content"><span class="uc-price-product uc-price-sell_price uc-price">Rs 399.00</span></span>  </div>          </td>
                  <td class="col-2">
              
  <div class="views-field views-field-field-image-cache-fid">        <span class="field-content"><a href="/{{message}}/14/12/0" class="imagecache imagecache-product-medium imagecache-linked imagecache-product-medium_linked"><img src="../../static/css/images/14.jpg" alt="" title="" class="imagecache imagecache-product-medium" height="200" width="140"></a></span>  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><a href="/{{message}}/14/12/0">The Potion Diaries </a></span>  </div>  
  <div class="views-field views-field-field-author-value">        <span class="field-content">Amy Alward </span>  </div>  
  <div class="views-field views-field-sell-price">        <span class="field-content"><span class="uc-price-product uc-price-sell_price uc-price">Rs 350.00</span></span>  </div>          </td>
                  <td class="col-3">
              
  <div class="views-field views-field-field-image-cache-fid">        <span class="field-content"><a href="/{{message}}/15/6/0" class="imagecache imagecache-product-medium imagecache-linked imagecache-product-medium_linked"><img src="../../static/css/images/15.jpg" alt="" title="" class="imagecache imagecache-product-medium" height="200" width="140"></a></span>  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><a href="/{{message}}/15/6/0">Bumper BQC Quiz Book </a></span>  </div>  
  <div class="views-field views-field-field-author-value">        <span class="field-content">Derek O'Brien </span>  </div>  
  <div class="views-field views-field-sell-price">        <span class="field-content"><span class="uc-price-product uc-price-sell_price uc-price">Rs 295.00</span></span>  </div>          </td>
                  <td class="col-4 col-last">
              
  <div class="views-field views-field-field-image-cache-fid">        <span class="field-content"><a href="/{{message}}/16/13/0" class="imagecache imagecache-product-medium imagecache-linked imagecache-product-medium_linked"><img src="../../static/css/images/16.jpg" alt="" title="" class="imagecache imagecache-product-medium" height="200" width="140"></a></span>  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><a href="/{{message}}/16/13/0">Fuzzy Mud </a></span>  </div>  
  <div class="views-field views-field-field-author-value">        <span class="field-content">Louis Sachar </span>  </div>  
  <div class="views-field views-field-sell-price">        <span class="field-content"><span class="uc-price-product uc-price-sell_price uc-price">Rs 399.00</span></span>  </div>          </td>
              </tr>
   
      </tbody>
</table>
    </div>
  
      <div class="item-list"><ul style="display: none;" class="pager"><li class="pager-previous first">&nbsp;</li>
<li class="pager-current">1 of 32</li>
<li class="pager-next last"><a href="http://#.in/node/73746?page=1" class="active">››</a></li>
</ul></div>  
  
      

  
  
  
</div><!-- /.view -->
  </div>

  </div><!-- /.block -->
<div id="block-views-childrenbooks_homepage-block_1" class="block block-views last region-odd odd region-count-5 count-7">
      <h2 class="title">Featured children's books</h2>
  
  <div class="content">
    <div class="views_view view view-childrenbooks-homepage view-id-childrenbooks_homepage view-display-id-block_1 view-four-books view-dom-id-c45f297d1042bd2ce08590f948e4fe88">
  
  
  
  
      <div class="view-content">
      <table class="views-view-grid col-4" >
  <tbody>
          <tr class="row-1 row-first row-last">
                  <td class="col-1 col-first">
              
  <div class="views-field views-field-field-image-cache-fid">        <span class="field-content"><a href="/{{message}}/17/14/0" class="imagecache imagecache-product-medium imagecache-linked imagecache-product-medium_linked"><img src="../../static/css/images/17.jpg" alt="" title="" class="imagecache imagecache-product-medium" height="200" width="140"></a></span>  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><a href="/{{message}}/17/14/0">Little Hanuman</a></span>  </div>  
  <div class="views-field views-field-field-author-value">        <span class="field-content">Anita Raina Thapan</span>  </div>  
  <div class="views-field views-field-sell-price">        <span class="field-content"><span class="uc-price-product uc-price-sell_price uc-price">Rs 250.00</span></span>  </div>          </td>
                  <td class="col-2">
              
  <div class="views-field views-field-field-image-cache-fid">        <span class="field-content"><a href="/{{message}}/18/14/0" class="imagecache imagecache-product-medium imagecache-linked imagecache-product-medium_linked"><img src="../../static/css/images/18.jpg" alt="" title="" class="imagecache imagecache-product-medium" height="200" width="140"></a></span>  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><a href="/{{message}}/18/14/0">As I Tuck You Into Bed : An El...</a></span>  </div>  
  <div class="views-field views-field-field-author-value">        <span class="field-content">Priyanka Handa Ram</span>  </div>  
  <div class="views-field views-field-sell-price">        <span class="field-content"><span class="uc-price-product uc-price-sell_price uc-price">Rs 195.00</span></span>  </div>          </td>
                  <td class="col-3">
              
  <div class="views-field views-field-field-image-cache-fid">        <span class="field-content"><a href="/{{message}}/19/15/0" class="imagecache imagecache-product-medium imagecache-linked imagecache-product-medium_linked"><img src="../../static/css/images/19.jpg" alt="" title="" class="imagecache imagecache-product-medium" height="200" width="140"></a></span>  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><a href="/{{message}}/19/15/0">All Four Stars </a></span>  </div>  
  <div class="views-field views-field-field-author-value">        <span class="field-content">Tara Dairman </span>  </div>  
  <div class="views-field views-field-sell-price">        <span class="field-content"><span class="uc-price-product uc-price-sell_price uc-price">Rs 350.00</span></span>  </div>          </td>
                  <td class="col-4 col-last">
              
  <div class="views-field views-field-field-image-cache-fid">        <span class="field-content"><a href="/{{message}}/20/16/0" class="imagecache imagecache-product-medium imagecache-linked imagecache-product-medium_linked"><img src="../../static/css/images/20.jpg" alt="" title="" class="imagecache imagecache-product-medium" height="200" width="140"></a></span>  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><a href="/{{message}}/20/16/0">On the Rock </a></span>  </div>  
  <div class="views-field views-field-field-author-value">        <span class="field-content">Andy McNab</span>  </div>  
  <div class="views-field views-field-sell-price">        <span class="field-content"><span class="uc-price-product uc-price-sell_price uc-price">Rs 50.00</span></span>  </div>          </td>
              </tr>
      </tbody>
</table>
    </div>
  
  
  

  
  
  
</div><!-- /.view -->
  </div>

  </div><!-- /.block -->
</div><!-- /.region -->

        
    </div></div><!-- /.section, /#content -->

   <!-- /.section, /#navigation -->

      



      
    </div>
    </div><!-- /#main, /#main-wrapper -->

          <div id="footer"><div class="section">

        
        <div class="region region-footer">
  <div id="block-menu-primary-links" class="block block-menu first region-odd even region-count-1 count-8">

  </div><!-- /.block -->
<div id="block-block-2" class="block block-block last region-even odd region-count-2 count-9">
  
  <div class="content" id ="creators">
    <!--
  <p>Created by Anupam,Atreya and Avneet</p>
    -->
  </div>

  </div><!-- /.block -->
</div><!-- /.region -->

      </div></div><!-- /.section, /#footer -->
    
  </div></div><!-- /#page, /#page-wrapper -->
{% endfor %}
  {% endif %}
    {% endwith %}

</body></html>
